@color-red: red;
@color-red-primary: linear-gradient(45deg, #ce0031, #b8002c);
@color-bg: #f7f4f5;
@color-black: #000;
@color-black-1: #181a39;
@color-black-2:  #222222;
@color-white: #fff;

@color-gray: #b4b4bd;
@color-gray-1: #545671;
@color-blue: #00B8D4;

@color-primary: transparent;


// 公共边距
@padding-15: 15px;
